# Private or temporary files
data/private/
data/raw_private/

# Model and temporary files
*.pkl
*.joblib
*.zip

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Colab temporary paths
/content/

# System files
.DS_Store
Thumbs.db
